:root{
    --Main_color: hsl(0, 0%, 50%);
    --Prime_color:#ffffff;
    --Secondary_color: rgb(0, 0, 0);
    --Imaginary_color: red;
}

body{
    border: 1px solid var(--Imaginary_color);
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header{

}

div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first{
    font-size: 2rem;
    border: 1px solid red;
    padding-right: 0.5em;
}
.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--Imaginary_color);
    position: relative;
}

.dot::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    width: 2px;
    height: 36px;
    background-color: var(--Imaginary_color);
}

.dot::after{
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    width: 2px;
    height: 26px;
    background-color: var(--Imaginary_color);
}

.second{
    font-size: 2rem;
    border: 1px solid red;
    padding-left: 0.5em;
}
