:root{
    --Main_color: hsl(0, 0%, 50%);
    --Prime_color:#ffffff;
    --Secondary_color: rgb(0, 0, 0);
    --Imaginary_color: red;
}

body{
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    flex-direction: column;
}

header{
    display: block;
    text-align: center;
}

header h1{
    font-size: clamp(1.3rem, 24px, 2.5vh);
}

header p{
    font-size: clamp(0.7rem, 15px, 1.7vh);
    text-align: left;
}

.changelog-container{
    margin: 0 auto;
}

div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first{
    color: var(--Main_color);
    font-size: clamp(0.7rem, 15px, 1.7vh);
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 1.5rem;
    background-color: var(--Secondary_color);
    position: relative;
}

.dot::before{
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    width: 2px;
    height: 36px;
    background-color: var(--Secondary_color);
}

.dot::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 2px;
    height: 36px;
    background-color: var(--Secondary_color);
}

.second{
    flex: 1;
    text-align: left;
    font-size: clamp(0.7rem, 15px, 1.7vh);
    color: var(--Secondary_color);
}

