.home-products{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.home-products .p-title{
    font-size: 25px;
    font-weight: 500;
    color: var(--subtle-gray);
}
.crad-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.home-products .see-more{
    display: inline-flex;
    padding: 10px 20px;
    margin: auto;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--subtle-gray);
}


@media (max-width: 768px) {
    .crad-container{
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    }
}