:root {
  --primary: #f97316;        
  --bg-light: #d2dfec;       
  --text-dark: #0f172a;      
  --subtle-gray: #6b7280;    
  --success: #10b981;   
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
button{
  cursor: pointer;
}

body::-webkit-scrollbar {
  display: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}